* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0 4%;
}

a {
  text-decoration: none;
}

nav {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo {
  font-size: 40px;
  background: linear-gradient(45deg, yellow, blue, green);
  border-radius: 10px;
  padding: 5px;
}

.logo a {
  color: white;
}

#code {
  color: yellow;
}

.nav__pages > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__pages li {
  list-style: none;
  margin: 0 8px;
}

.nav__pages a {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
}

.nav__pages a:hover {
  color: green;
}

.hire__btn {
  border: 1px solid green;
  padding: 20px;
  border-radius: 50px;
}

.hire__btn {
  border: 1px solid blue;
  padding: 20px;
  border-radius: 50px;
  font-size: 20px;
  color: black;
  font-weight: 900;
}

.hire__btn:hover {
  border: 1px solid yellow;
  background: linear-gradient(45deg, yellow, blue, green);
  color: white;
}

/* Home Section */
.home {
  display: flex;
  margin: 20px auto;
  padding: 40px;
  background-color: #0bceae60;
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile img:hover {
  transform: scale(1.01);
}

.home__desc {
  width: 100%;
  padding: 40px 0 0 30px;
}

.home__desc p {
  padding: 20px 0px;
  font-size: 35px;
}

.home__desc h1 {
  font-size: 38px;
  margin-bottom: 30px;
}

.home__desc h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.cv {
  margin: 80px;
}

.cv a {
  border: 2px solid yellow;
  background: linear-gradient(45deg, yellow, blue, green);
  color: white;
  padding: 20px;
  border-radius: 40px 1px 40px 1px;
  font-size: 25px;
}

.cv a:hover {
  font-size: 24px;
}

/* About Section */
.aboutMe h1 {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  text-decoration: underline;
}

.aboutSec {
  display: flex;
  justify-content: space-around;
}

.aboutImg {
  width: 100%;
  height: 100%;
}

.aboutImg img {
  width: 100%;
  height: 100%;
}

.aboutInner {
  width: 100%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #02bdc8;
}

.aboutInner h2 {
  max-width: 95%;
  margin-left: 30px;
  padding: 90px 30px 20px 30px;
}

.aboutInner p {
  text-align: center;
  margin-bottom: 80px;
}

.aboutInner__div {
  display: flex;
  justify-content: space-around;
}

.about__div {
  padding-top: 20px;
}

.about__span {
  color: rgb(124, 124, 124);
  margin-left: 20px;
}

/* contact section */

.contact__section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 80px 0;
}

.intouch {
  padding: 30px;
  height: 50vh;
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 20px 0 0 50px;
}

.intouch span {
  margin-right: 10px;
}

.intouch img {
  width: 4%;
  height: 8%;
}

.contact__par {
  width: 50%;
  margin-bottom: 40px;
}

.form {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 9px;
  width: 50%;
}

.form h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}

.form form {
  display: inline-flex;
  flex-direction: column;
  width: 90%;
}

.form input {
  margin-bottom: 20px;
  border: 1px solid #a3ede1;
  border-radius: 3px;
  padding: 10px 2px;
}

.form textarea {
  border: 1px solid #a3ede1;
  border-radius: 4px;
  padding: 10px 2px;
}

.form button {
  margin-top: 10px;
  background-color: #aaff004e;
  color: #000000;
  text-transform: uppercase;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.form button:hover {
  margin-top: 10px;
  background-color: #000000;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
